div
  div
    div(class='rounded-4xl h-full md:max-h-50vh bg-gray-700 d-flex flex-col sm:flex-row-reverse flex-no-wrap justify-space-between flex-col sm:flex-row')
      div(class='relative flex md:w-2/5')
        img(
          class='object-cover w-full rounded-bl-4xl rounded-tr-4xl'
          src='https://m.media-amazon.com/images/M/MV5BMTY1OTA2MjI5OV5BMl5BanBnXkFtZTgwNzkxMjU4NjM@._V1_.jpg'
        )
        div(class='absolute left-2 bottom-4')
          v-btn(class='mx-2' fab dark small color='orange')
            v-icon
              | mdi-account-circle-outline

      div(class='grid grid-col-1 flex-grow h-full max-h-max pl-8 md:pl-16 pr-4 md:pr-12 py-8 md:w-3/5')
        h1(class='capitalize text-2xl md:text-3xl my-2')
          | Glass
        p(class='md:text-xl')
          | After pursuing Kevin Wendell Crumb and the multiple identities that reside within, David Dunn finds himself locked in a mental hospital alongside his archenemy, Elijah Price. The trio must now contend with a psychiatrist, who is out to prove they do not actually possess superhuman abilities.
        div
          v-spacer
            v-btn(text='' color='teal accent-4')
              | Learn More
